<html>
  <head>
    <title>IntegraleIT</title>
      {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/css/base.css"/>
        {{ encore_entry_link_tags('app') }}
      {% endblock %}
      
      {{ encore_entry_script_tags('FpJsFormElement') }}
      {{ encore_entry_script_tags('app') }}

      {% block javascripts %}
        {{ js_validator_config() }}
        {{ init_js_validation() }}
      {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>